<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enm_dark_knight_fall-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,148},{105,81}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{105,81}}</string>
                <key>sourceSize</key>
                <string>{159,121}</string>
            </dict>
            <key>enm_dark_knight_fall-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,134},{105,85}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,19},{105,85}}</string>
                <key>sourceSize</key>
                <string>{159,121}</string>
            </dict>
            <key>enm_dark_knight_fall-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,429},{99,81}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,20},{99,81}}</string>
                <key>sourceSize</key>
                <string>{159,121}</string>
            </dict>
            <key>enm_dark_knight_fall-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,81},{109,85}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{109,85}}</string>
                <key>sourceSize</key>
                <string>{159,121}</string>
            </dict>
            <key>enm_dark_knight_idle-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{103,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{103,77}}</string>
                <key>sourceSize</key>
                <string>{129,97}</string>
            </dict>
            <key>enm_dark_knight_idle-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{105,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{105,77}}</string>
                <key>sourceSize</key>
                <string>{129,97}</string>
            </dict>
            <key>enm_dark_knight_idle-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,298},{103,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{103,73}}</string>
                <key>sourceSize</key>
                <string>{129,97}</string>
            </dict>
            <key>enm_dark_knight_idle-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,324},{103,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{103,73}}</string>
                <key>sourceSize</key>
                <string>{129,97}</string>
            </dict>
            <key>enm_dark_knight_idle-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,306},{101,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{101,73}}</string>
                <key>sourceSize</key>
                <string>{129,97}</string>
            </dict>
            <key>enm_dark_knight_idle-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,430},{101,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{101,77}}</string>
                <key>sourceSize</key>
                <string>{129,97}</string>
            </dict>
            <key>enm_dark_knight_land-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{104,77}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{104,77}}</string>
                <key>sourceSize</key>
                <string>{128,87}</string>
            </dict>
            <key>enm_dark_knight_land-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,168},{104,77}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{104,77}}</string>
                <key>sourceSize</key>
                <string>{128,87}</string>
            </dict>
            <key>enm_dark_knight_land-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,324},{104,65}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,18},{104,65}}</string>
                <key>sourceSize</key>
                <string>{128,87}</string>
            </dict>
            <key>enm_dark_knight_land-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,247},{104,75}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{104,75}}</string>
                <key>sourceSize</key>
                <string>{128,87}</string>
            </dict>
            <key>enm_dark_knight_land-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,63},{110,69}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{110,69}}</string>
                <key>sourceSize</key>
                <string>{128,87}</string>
            </dict>
            <key>enm_dark_knight_land-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{114,59}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{114,59}}</string>
                <key>sourceSize</key>
                <string>{128,87}</string>
            </dict>
            <key>enm_dark_knight_land-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{112,69}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{112,69}}</string>
                <key>sourceSize</key>
                <string>{128,87}</string>
            </dict>
            <key>enm_dark_knight_land-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{114,77}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{114,77}}</string>
                <key>sourceSize</key>
                <string>{128,87}</string>
            </dict>
            <key>enm_dark_knight_land-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{104,77}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{104,77}}</string>
                <key>sourceSize</key>
                <string>{128,87}</string>
            </dict>
            <key>enm_dark_knight_land-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,221},{104,75}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{104,75}}</string>
                <key>sourceSize</key>
                <string>{128,87}</string>
            </dict>
            <key>enm_dark_knight_land-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{104,69}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{104,69}}</string>
                <key>sourceSize</key>
                <string>{128,87}</string>
            </dict>
            <key>enm_dark_knight_particles_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,104},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>enm_dark_knight_particles_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{47,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,31}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>enm_dark_knight_particles_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,126},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>enm_dark_knight_particles_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,89},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>enm_dark_knight_particles_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,70},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>enm_dark_knight_particles_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,51},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>enm_dark_knight_particles_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,87},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>enm_dark_knight_particles_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,163},{51,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,46}</string>
            </dict>
            <key>enm_dark_knight_pop-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,73},{107,73}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{107,73}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>enm_dark_knight_pop-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,381},{99,67}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{99,67}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>enm_dark_knight_pop-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{127,83}}</string>
                <key>sourceSize</key>
                <string>{155,115}</string>
            </dict>
            <key>enm_dark_knight_rage-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,298},{103,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{103,71}}</string>
                <key>sourceSize</key>
                <string>{139,95}</string>
            </dict>
            <key>enm_dark_knight_rage-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,231},{101,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{101,73}}</string>
                <key>sourceSize</key>
                <string>{139,95}</string>
            </dict>
            <key>enm_dark_knight_rage-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,403},{101,75}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{101,75}}</string>
                <key>sourceSize</key>
                <string>{139,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dark_knight_atlas.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37f32f9a035f266e6258759e45978f32:c1ab06b59e0df4593633d654d1ad3e4c:801531ae3ce755fac98c1fa95234c2d2$</string>
            <key>textureFileName</key>
            <string>dark_knight_atlas.png</string>
        </dict>
    </dict>
</plist>
